@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.elo::-webkit-scrollbar{
    display: none
}
.animation {
    animation: scaleAnimation 0.4s  linear ;
  }
  
  @keyframes scaleAnimation {
    0% {
      transform: scale(0);
    }
  
    100% {
        transform: scale(1);
    }
  }


  .mobile_nav_animation {
    animation: slideInFromLeft 0.5s forwards;
  }
  
  @keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  .mobile_nav_exit_animation {
    animation: slideOutToLeft 0.5s forwards;
  }
  
  @keyframes slideOutToLeft {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  @keyframes scaleAndBorder {
    0% {
      transform: scale(1);
      border-bottom: 0 solid transparent;
    }
    100% {
      transform: scale(1.5);
      border-bottom: 1px solid white; /* możesz zmienić kolor na dowolny */
    }
  }
  
  .element {
    transform: scale(1);
    border-bottom: 1px white solid transparent;
    transition: all 0.3s; /* możesz dostosować czas trwania */
  }
  
  .element:hover {
    animation: scaleAndBorder 0.5s linear forwards;
  }